<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>

<h1>All Dinosaurs</h1>

<!-- list all of the dinos stored in the data layer - assume we have access to a list called allDinos from our
 data layer that is being passed from the controller -->

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Species</th>
        <th>Diet</th>
        <th>Aquatic?</th>
    </tr>
    <tr th:each = "dino : ${allDinos}">
        <td th:text = "${dino.id}"></td>
        <td th:text = "${dino.species}"></td>
        <td th:text = "${dino.diet}"></td>
        <td th:text = "${dino.aquatic}"></td>
    </tr>
</table>


<form method="get" action="/dino/add">
    <input type = "submit" value = "Add 🐱‍🐉🐉🦎">
</form>



</body>
</html>