<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>Create a new dinosaur Egg</h1>
<!-- We need sizeInches, weightKg, dateLaid, and dinosaur to create this form -->
<form method = "POST">
    Size (inches):
<input type = "number" th:field="${dinoEgg.sizeInches}" />
    <br>
    Weight (Kg):
    <input type = "number" th:field="${dinoEgg.weightKg}" />
    <br>
    Date Laid:
    <input type = "date" th:field = "${dinoEgg.dateLaid}"  />
    <br>
    <button>Add Egg!</button>

    <!-- made a dropdown input to allow us to select which dino laid the egg -->
    <select th:field = "${dinoEgg.dinosaur}">
        <option value = ""></option>
    </select>

</form>
</body>
</html>