<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>Create a new dinosaur Egg</h1>
<!-- We need sizeInches, weightKg, dateLaid, and dinosaur to create this form -->
<form method = "POST">
    Size (inches):
<input type = "number" th:field="${dinoEgg.sizeInches}" />
    <br>
    Weight (Kg):
    <input type = "number" th:field="${dinoEgg.weightKg}" />
    <br>
    Date Laid:
    <input type = "date" th:field = "${dinoEgg.dateLaid}"  />
    <br>

    <!-- made a dropdown input to allow us to select which dino laid the egg -->
   From which dinosaur did you steal this egg?!
    <br>
    <select th:field = "${dinoEgg.dinosaur}">
        <!-- use thymleaf loop to list all the dinosaurs from the database to show as dropdown options -->
        <option th:each = "dino : ${allDinos}"
                th:value = "${dino.id}"
                th:text = "${dino.species}"></option>
    </select>
        <br>
    <button>Add Egg!</button>

</form>
</body>
</html>